* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background-color: #ffffff;
}

.grid-container {
  margin-top: 5rem;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 5% auto;
  max-width: 500px;
  text-align: center;
}

.container1 {
  display: flex;
  justify-content: center;
  margin: 4% auto;
}


.featured {
  display: flex;
  justify-content: center;
  margin: 5% auto;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 5%;
  align-items: center;
}


.content1 {
  display: flex;
  flex-direction: row;
  gap: 0%;
  margin-right: 10%;
  align-items: center;
}

.container h5{
  margin-left: 10%;
  margin: 5%;
}



.container img {
  max-width: 180px;
  border-radius: 10px;
}

.container .btn2,
.container .btn22 {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  margin-left: 5%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container .btn2:hover,
.container .btn22:hover {
  background-color: #00b318;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  max-width: 1200px;
  width: 70%;
  margin: 4% auto;
  padding: 3px;
  box-sizing: border-box;
}

.book-grid + .book-grid {
  margin-top: 2rem; 
}


.book {
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  transition: all 0.3s ease;
}

.book img {
  max-width: 200px;
  border-radius: 10px;
}

.book .btn1 {
  margin-top: 10px;
  display:flex;
  justify-items: center;
  justify-content: center;
  padding: 10px ;
  font-size: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.book .title{
  margin-top: 10%;
}

.book .btn1:hover {
  background-color: green;
  color: white;
}

@media (max-width: 800px) {
  .container {
    width: 90%;
    margin: 1% auto;
  }
}

@media (max-width: 500px) {
  .container {
    width: 95%;
    margin: 1% auto;
  }
}
